extends layout

block content
	div.custom_body
		div.carousel.slide#myCarousel
			ol.carousel-indicators
				li(data-target="#myCarousel", data-slide-to="0")
				li(data-target="#myCarousel", data-slide-to="1")
				li(data-target="#myCarousel", data-slide-to="2")
			div.carousel-inner
				div.item.active
					img(src='/images/homework1.jpg')
					div.container
						div.carousel-caption
							h1 Goalkeeper is an interactive way to stay on task.
				div.item
					img(src='/images/homework2.jpg')
					div.container
						div.carousel-caption
							h1 Add, remove, and modify tasks quickly and intuitively.
				div.item
					img(src='/images/homework3.jpg')
					div.container
						div.carousel-caption
							h1 Start goalkeeping today - sign up or log in below!
			a.carousel-control.left(href="#myCarousel", data-slide="prev")
				span.glyphicon.glyphicon-chevron-left
			a.carousel-control.right(href="#myCarousel", data-slide="next")
				span.glyphicon.glyphicon-chevron-right
		br
		div.container
			form.custom_form(role="form")
				h2.form-signin-heading Sign in
				input.form-control(name="email", type="email", placeholder="Email address")
				input.form-control(name="password", type="password", placeholder="Password")
				br
				button.btn.btn-lg.btn-primary.btn-block(type="submit", action="/public/javascripts/db.js") Sign in
			br
			button.btn.btn-lg.btn-primary.registerButton_custom.registerButton Register
			form.custom_form#register_form(role="form", method="post")
				h2.form-signin-heading Register
				input.form-control(name="email", type="email", placeholder="Email address")
				input.form-control(name="password", type="password", placeholder="Password")
				input.form-control(type="password", placeholder="Confirm Password")
				br
				button.btn.btn-lg.btn-primary.btn-block(type="submit", value="save") Register

	script(src='/javascripts/login.js')



