doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css')
    script(src='/javascripts/vendor/jquery-1.11.0.min.js')
    script(src='/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js')
    script(src='/javascripts/vendor/bootstrap.js')
  body
    //- script(src='/javascripts/vendor/facebook-2.0.js')
    block content