doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/jquery-1.11.0.min.js')
    script(src='/javascripts/bootstrap.js')
  body
    block content