extends layout

block content
	audio#HUGHGH0(src="images/HUGHGH.mp3")
	audio#HUGHGH1(src="images/HUGHGH1.mp3")
	audio#HUGHGH2(src="images/HUGHGH2.mp3")
	audio#PSHEEW0(src="images/PSHEEW0.mp3")
	audio#PSHEEW1(src="images/PSHEEW1.mp3")
	audio#PSHEEW2(src="images/PSHEEW2.mp3")
	audio#completion(src="images/completion.mp3")
	audio#deletion(src="images/deletion.mp3")
	audio#openNavbar(src="images/openNavbar.mp3")
	audio#closeNavbar(src="images/closeNavbar.mp3")
	audio#relax(src="images/relax.mp3")
	div#wallpaper-container-sheet
		div#wallpaper-container
			table#wallpaper-table
				tr
					td 
						img.wallpaper-preview(src="images/wallpaper1.jpg")
					td 
						img.wallpaper-preview(src="images/wallpaper2.jpg")
					td  
						img.wallpaper-preview(src="images/wallpaper3.jpg")
				tr
					td
						img.wallpaper-preview(src="images/wallpaper4.jpg")
					td 
						img.wallpaper-preview(src="images/wallpaper5.jpg")
					td 
						img.wallpaper-preview(src="images/wallpaper1.jpg")
				tr
					td 
						img.wallpaper-preview(src="images/wallpaper1.jpg")
					td 
						img.wallpaper-preview(src="images/wallpaper1.jpg")
					td 
						img.wallpaper-preview(src="images/wallpaper1.jpg")

	div#main-container(ng-app='goalkeeperApp' ng-controller='MainController')
		//- {{understand}}
		h1#welcome-sign Welcome, #{user}!
		div.main-bins
			h4.main-bin-headers Complete
			div#main-complete-bin.circle.main-bin-circles.small-circle
		div#main-delete-container.main-bins
			h4.main-bin-headers Delete
			div#main-delete-bin.circle.main-bin-circles.small-circle
		div#main-nav-container.main-toolbar-container.lightGreen
			div#main-nav-toggle-container
				span#main-nav-toggle.glyphicon.glyphicon-chevron-left.glyph-bigger
			ul.main-list
				li.main-list-item
					a(href="/logout", tabindex="-1").main-nav-item Log Out
				li.main-list-item
					a.main-nav-item Settings
				li.main-list-item
					a(href="#", onclick="soundToggle()", tabindex="-1").main-nav-item Sound
				//- li.main-list-item
				//- 	input(type="file", onchange="loadImageFile(this)")
				li.main-list-item
					a.selectBackground(href="#") Backgrounds
		div#main-add-goal-container
			button.btn.btn-default#main-create-button(value="PLAY", onclick="playSound('creation')")
				span.glyphicon.glyphicon-plus.bold Create
		div#main-sort-container.main-toolbar-container.white Sort By
			ul.main-list
				li.main-list-item
					a.main-nav-item.main-sort-item#sort-time Time Remaining
				li.main-list-item
					a.main-nav-item.main-sort-item#sort-priority Priority
				li.main-list-item
					a.main-nav-item.main-sort-item#sort-relax Relax
				li.main-list-item
					a.main-nav-item.main-sort-item#sort-party Party
		div#main-goals-container
			each item in goals
				p.goal_list #{item}
		div#search-container
			input#searchbox
			div#search-results
		div#main-create-goal-form
			form.form-signin#main-edit-form(role="form" method="POST" action="/goal")
				h2.form-signin-heading Create a new goal
				input.form-control#goal-edit-title(type="text", name="name", placeholder="What would you like to do?", required)
				textarea#main-goal-description.form-control(type="text", name="description", placeholder="A brief description of your goal. (Optional)")
				dl.dl-horizontal
					dt#main-deadline-label
						label(for="goal-deadline") When do you need it done?
					dd
						div.input-group
							input#main-goal-deadline.form-control.float-left(name="deadline", placeholder="mm/dd/yyyy")
							select.form-control.float-left.main-deadline-dropdown.input-small
								option 1:00
								option 2:00
								option 3:00
								option 4:00
								option 5:00
								option 6:00
								option 7:00
								option 8:00
								option 9:00
								option 10:00
								option 11:00
								option 12:00
							select.form-control.float-left.main-deadline-dropdown
								option AM
								option PM
				input.form-control#tag-input(type="text", name="tags", placeholder="exercise, social, long-term")
				div#goal-tags
				button.btn.btn-primary.btn-block#save-goal-button(type="submit") Save goal
			div#goal-form-status saved.
			div#main-close-form &times;
		

	script(type='text/javascript' src='/javascripts/vendor/angular.min.js')
	script(type='text/javascript' src='/javascripts/vendor/angular-cookies.min.js')
	script(type='text/javascript' src='/javascripts/vendor/angular-resource.min.js')
	script(type='text/javascript' src='/javascripts/vendor/angular-sanitize.min.js')
	script(type='text/javascript', src='/javascripts/app.js')
	script(type='text/javascript', src='/javascripts/ui.js')
	script(type='text/javascript', src='/javascripts/goals.js')
	script(type='text/javascript', src='/javascripts/mainPage.js')