extends layout

block content
	div#main-container(ng-app='goalkeeperApp' ng-controller='MainController')
		//- {{understand}}
		h1#welcome-sign Welcome, #{user}!
		input#test(type="file", onchange="loadImageFile(this)")
		div.main-bins
			h4.main-bin-headers Complete
			div#main-complete-bin.circle.main-bin-circles.small-circle
		div#main-delete-container.main-bins
			h4.main-bin-headers Delete
			div#main-delete-bin.circle.main-bin-circles.small-circle
		div#main-nav-container.main-toolbar-container.lightGreen
			div#main-nav-toggle-container
				span#main-nav-toggle.glyphicon.glyphicon-chevron-left.glyph-bigger
			ul.main-list
				li.main-list-item
					a(href="/logout", tabindex="-1").main-nav-item Log Out
				li.main-list-item
					a.main-nav-item Settings
		div#main-add-goal-container
			button.btn.btn-default#main-create-button
				span.glyphicon.glyphicon-plus.bold Create
		div#main-sort-container.main-toolbar-container.white Sort By
			ul.main-list
				li.main-list-item
					a.main-nav-item.main-sort-item#sort-time Time Remaining
				li.main-list-item
					a.main-nav-item.main-sort-item#sort-priority Priority
				li.main-list-item
					a.main-nav-item.main-sort-item#sort-relax Relax
		div#main-goals-container
			each item in goals
				p.goal_list #{item}
		div#search-container
			input#searchbox
			div#search-results
		div#main-create-goal-form
			form.form-signin#main-edit-form(role="form" method="POST" action="/goal")
				h2.form-signin-heading Create a new goal
				input.form-control#goal-edit-title(type="text", name="name", placeholder="What would you like to do?", required)
				textarea#main-goal-description.form-control(type="text", name="description", placeholder="A brief description of your goal. (Optional)")
				dl.dl-horizontal
					dt#main-deadline-label
						label(for="goal-deadline") When do you need it done?
					dd
						div.input-group
							input#main-goal-deadline.form-control.float-left(type="text", name="deadline", placeholder="mm/dd/yyyy")
							select#main-goal-deadline-time.form-control.float-left.main-deadline-dropdown.input-small(name="time")
								option(value="1:00") 1:00
								option(value="2:00") 2:00
								option(value="3:00") 3:00
								option(value="4:00") 4:00
								option(value="5:00") 5:00
								option(value="6:00") 6:00
								option(value="7:00") 7:00
								option(value="8:00") 8:00
								option(value="9:00") 9:00
								option(value="10:00") 10:00
								option(value="11:00") 11:00
								option(value="12:00") 12:00
							select#main-goal-time-of-day.form-control.float-left.main-deadline-dropdown(name="timeOfDay", form="main-edit-form")
								option(value="AM") AM
								option(value="PM") PM
				input.form-control#tag-input(type="text", name="tags", placeholder="exercise, social, long-term")
				div#goal-tags
				button.btn.btn-primary.btn-block#save-goal-button(type="submit") Save goal
			div#goal-form-status saved.
			div#main-close-form &times;
		

	script(type='text/javascript' src='/javascripts/vendor/angular.min.js')
	script(type='text/javascript' src='/javascripts/vendor/angular-cookies.min.js')
	script(type='text/javascript' src='/javascripts/vendor/angular-resource.min.js')
	script(type='text/javascript' src='/javascripts/vendor/angular-sanitize.min.js')
	script(type='text/javascript', src='/javascripts/app.js')
	script(type='text/javascript', src='/javascripts/ui.js')
	script(type='text/javascript', src='/javascripts/goals.js')
	script(type='text/javascript', src='/javascripts/mainPage.js')