#main-container {
	overflow: hidden;
	position: relative;
	float: left;
	background-color: #C3C4C0;
	width: 100%;
	height: 100%;
}

#main-goals-container{
	width: 100%;
	height: 100%;
}

.main-toolbar-container {
	display: table;
	position: absolute;
	height: 30px;
	z-index: 2;
}

#main-nav-container {
	bottom: 20px;
	right: -220px;
	border-radius: 8px;
	z-index: 5;
}

.main-list {
	list-style: none;
	display: table-cell;
	vertical-align: middle;
}

#main-nav-toggle-container {
	height: 25px;
	width: 25px;
	margin-top: 2.5px;
	margin-left: 3px;
	border-radius: 4px;
}

#main-nav-toggle-container:hover {
	background-color: #5AC54D;
}

#main-nav-toggle-container:active {
	background-color: #4DA842;
}

#main-nav-toggle {
	line-height: 25px;
	text-align: center;
	margin: 0 auto;
}

.main-list-item {
	float: right;
	vertical-align: center;
	font-size: 17px;
	margin: 0 5px;
}

.main-nav-item {
	padding: 10px;
	tabindex: -1;
}

.main-nav-item:hover {
	text-decoration: none;
	background-color: #2BBA45;
	border-radius: 5px;
}

#main-sidebar {
	float: left;
	background-color: #CFCFCF;
	min-width: 30%;
	width: 30%;
	height: 100%;
	overflow-y: auto;
}

#search-container{
	position: fixed;
	left: 50px;
	top: 100px;
	display: none;
	z-index: 3;
	width: 100%;
}

#searchbox{
	width: 30%;
	font-size: 30px;
	display: none;
	background-color: transparent;
	outline: none;
	border: none;
	border-left: 5px solid lightcoral;
	padding-left: 10px;
	width: 50%;
}

#main-create-goal-form {
	display: none;
	position: absolute;
	top: 0px;
	left: 15%;
	margin-top: 30px;
	padding: 20px;
	width: 70%;
	z-index: 5;
}

#main-edit-form{
	width: 70%;
}

#main-edit-form > textarea{
	margin-top: 10px;
	margin-bottom: 10px;
}

#main-close-form{
	position: fixed;
	top: 20px;
	right: 60px;
	font-size: 50px;
	text-align: right;
}

#goal-form-status{
	font-size: 14px;
	color: white;
	margin-top: 10px;
	text-align: center;
	padding: 7px;
	border-radius: 4px;
	display: none;
}

.success-status{
	background-color: rgba(0, 0, 0, 0.6);
}

.failed-status{
	background-color: rgba(100, 0, 0, 0.6);
}

.high{
	z-index: 5 !important;
}

#main-close-form:hover{
	color: white;
}

#main-goal-description {
	position: relative;
	height: 100px;
}

#main-deadline-label {
	height: 34px;
	width: 41%;
	margin-right: 6%;
	line-height: 34px;
}

#main-goal-deadline {
	width: 80%;
}

.tag{
	background-color: dimgray;
	color: white;
	padding: 5px;
	margin-right: 2px;
}

#save-goal-button {
	margin-top: 20px;
}

.main-bins {
	position: absolute;
	height: 180px;
	width: 150px;
}

#main-delete-container {
	right: 0;
}

#main-complete-bin {
	background-color: #2BCF25;
}

#main-delete-bin {
	background-color: #2C5AF2;

}

.main-bin-circles {
	margin: 0 auto;
	transition: width .1s, height .1s;
}

.small-circle{
	width: 50px;
	height: 50px;
}

.big-circle{
	width: 100px;
	height: 100px;
}

.main-bin-circles:hover {
	width: 100px;
	height: 100px;
	/*margin-top: -25px;*/
	transition: width .1s, height .1s;
}

.main-bin-headers {
	text-align: center;
	line-height: 14px;
}

.main-goal-bubble {
	text-align: center;
	z-index: 2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*width: 120px;*/
	/*transition: width .2s, height .2s;*/
}

.main-goal-bubble:hover{
	/*width: 200px;*/
}


.goal-body{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.goal-title{
	outline: none;
	font-size: 14px;
	/*border-bottom: 1px solid gray;*/
}


#main-add-goal-container {
	position: absolute;
	margin: 20px;
	bottom: 0;
}

#main-sort-container {
	bottom: 20px;
	left: 150px;
	border-radius: 4px;
	line-height: 34px;
	height: 34px;
	font-weight: bold;
	padding-left: 10px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-sort-item {
	font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-sort-item:hover {
	background-color: #E8E8E8;
	cursor: pointer;
}

.main-sort-item:active {
	background-color: #C9C9C9;
}

#main-sort-container {
	bottom: 20px;
	left: 150px;
}