#main-container {
	overflow: hidden;
	position: relative;
	float: left;
	background-color: #C3C4C0;
	width: 100%;
	height: 100%;
}

#main-goals-container{
	width: 100%;
	height: 100%;
}

.main-toolbar-container {
	display: table;
	position: absolute;
	height: 30px;
	z-index: 100;
}

#main-nav-container {
	bottom: 20px;
	right: -220px;
	border-radius: 8px;
}

.main-list {
	list-style: none;
	display: table-cell;
	vertical-align: middle;
}

#main-nav-toggle-container {
	height: 25px;
	width: 25px;
	margin-top: 2.5px;
	margin-left: 3px;
	border-radius: 4px;
}

#main-nav-toggle-container:hover {
	background-color: #5AC54D;
}

#main-nav-toggle-container:active {
	background-color: #4DA842;
}

#main-nav-toggle {
	line-height: 25px;
	text-align: center;
	margin: 0 auto;
}

.main-list-item {
	float: right;
	vertical-align: center;
	font-size: 17px;
	margin: 0 5px;
}

.main-nav-item {
	padding: 10px;
}

.main-nav-item:hover {
	text-decoration: none;
	background-color: #2BBA45;
	border-radius: 5px;
}

#main-sidebar {
	float: left;
	background-color: #CFCFCF;
	min-width: 30%;
	width: 30%;
	height: 100%;
	overflow-y: auto;
}

#main-create-goal-form {
	display: none;
	margin-top: 30px;
	padding: 20px;
}

#main-goal-description {
	position: relative;
	height: 100px;
}

#main-deadline-label {
	height: 34px;
	width: 48%;
	margin-right: 6%;
	line-height: 34px;
}

#main-goal-deadline {
	width: 80%;
}

.main-bins {
	position: absolute;
	height: 180px;
	width: 150px;
}

#main-delete-container {
	right: 0;
}

#main-complete-bin {
	background-color: #2BCF25;
}

#main-delete-bin {
	background-color: #2C5AF2;

}

.main-bin-circles {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	transition: width .1s, height .1s;
}

.main-bin-circles:hover {
	width: 75px;
	height: 75px;
	transition: width .1s, height .1s;
}

.main-bin-headers {
	text-align: center;
}

.main-goal-bubble {
	text-align: center;
	outline: none;
	font-size: 20px;
}

#main-add-goal-container {
	position: absolute;
	margin: 20px;
	bottom: 0;
}

#main-sort-container {
	bottom: 20px;
	left: 150px;
	border-radius: 4px;
	line-height: 34px;
	height: 34px;
	font-weight: bold;
	padding-left: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-sort-item {
	font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-sort-item:hover {
	background-color: #E8E8E8;
	cursor: pointer;
}

.main-sort-item:active {
	background-color: #C9C9C9;
}

#main-sort-container {
	bottom: 20px;
	left: 150px;
}