html, body {
	/*padding: 50px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

a {
	color: #00B7FF;
}

#error_container{
	display: none;
	background: rgba(0, 0, 0, 0.6);
	width: 40%;
	border-radius: 4px;
	margin-top: 2%;
	padding-bottom: .5%;
}

#error_message{
	/* display: none; */
	color: white;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

#error_break{
	display:none;
}

.white {
	background-color: #FFF;
}

.lightGreen {
	background-color: #67E359;
}

.custom_body{
	background-image: url('/images/congruent_pentagon.png');
	background-repeat: repeat;
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: auto;
}

.form_header{
	text-align: center;
}

.custom_form{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.registerButton_custom{
	margin-left: 46%
}

#register_form{
	display: none;
}

.circle {
	border-radius: 50%;
}

.glyph-bigger {
	font-size: 20px;
}

.bold {
	font-weight: bold;
}