html, body {
	/*padding: 50px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

a {
	color: #00B7FF;
}

.white {
	background-color: #FFF;
}

.lightGreen {
	background-color: #67E359;
}

.custom_body{
	background-image: url('/images/congruent_pentagon.png');
	background-repeat: repeat;
	height: 100%;
	position: fixed;
	overflow: auto;
}

.custom_form{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.registerButton_custom{
	margin-left: 46%
}

#register_form{
	display: none;
}

.circle {
	border-radius: 50%;
}

.glyph-bigger {
	font-size: 20px;
}

.bold {
	font-weight: bold;
}