html, body {
	/*padding: 50px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

a {
	color: #00B7FF;
}

.custom_body{
	background-image: url('/images/congruent_pentagon.png');
	background-repeat: repeat;
	height: 100%;
	position: fixed;
	overflow: auto;
}

.custom_form{
	width:40%;
	margin-left: auto;
	margin-right: auto;
}

.registerButton_custom{
	margin-left: auto;
	margin-right: auto;
}

#register_form{
	display: none;
}

.circle {
	border-radius: 50%;
}